.msg,
.message {
  &.error,
  &.warn,
  &.info,
  &.debug,
  &.trace {
    border-radius: var(--border-radius);
    color: var(--color-bg);
    padding: var(--spacer);
  }

  &.error {
    background-color: var(--color-user-error);
  }

  &.warn {
    background-color: var(--color-user-warn);
  }

  &.info {
    background-color: var(--color-user-info);
  }

  &.debug {
    background-color: var(--color-user-debug);
  }

  &.trace {
    background-color: var(--color-user-trace);
  }
}
