{% extends "base.html" %}

{%- block head -%}
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=7,8,edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#e6eff5">

  <!-- Site -->
  <title>Hannah & Zakhary's Wedding</title>
  <meta content="Hannah & Zakhary's Wedding, taking place at 6 June, 2023." name=description>

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Corinthia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Joan">

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-color/1.9.1/open-color.min.css">
  <link rel="stylesheet" href="/style.css">
{%- endblock -%}

{%- block header -%}
    <svg class="flourish">
      <use href="/assets/svg/flowers-left.svg#layer-1"></use>
    </svg>
    <div>
      <h1 class="font cursive normal">
        Hannah & Zakhary
      </h1>
      <hr style="margin-top: -12px;">
      <p>
        2023.06.06
      </p>
    </div>
    <svg class="flourish">
      <use href="/assets/svg/flowers-right.svg#layer-1"></use>
    </svg>
{%- endblock -%}

{%- block footer -%}
    <p>
      We hope to see you there!
    </p>
    <br>
    <p class="copyright">
      <small>&copy; 2022 Kaplan</small>
    </p>
{%- endblock -%}

{%- block content -%}
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar ligula eget leo dapibus interdum. Sed
        scelerisque non lacus eget suscipit. Maecenas sed tortor arcu. Nullam non purus accumsan, sodales augue et,
        pellentesque elit. Praesent venenatis quis diam sed sodales. Donec ut lectus a orci tempus vestibulum at sed
        nisl. Vestibulum iaculis tortor eu felis tristique, gravida laoreet massa iaculis. Suspendisse mattis sem ac leo
        dapibus, malesuada ullamcorper massa mattis. Nam sollicitudin dolor velit, vel imperdiet felis sagittis ac.
        Phasellus pharetra, erat non porttitor ultricies, odio tortor faucibus felis, id posuere neque orci luctus arcu.
        Nunc nec interdum ante. Phasellus eu diam vel sapien ullamcorper efficitur vitae ac erat.
      </p>

      <p>
        Duis lacus augue, venenatis a metus at, finibus consectetur sem. Suspendisse potenti. Nunc accumsan at libero
        vitae euismod. Duis a rutrum lacus. Proin tempus convallis sagittis. Pellentesque ullamcorper accumsan ex sit
        amet consequat. Integer nec dolor eget dolor ultrices pretium nec a diam. Fusce auctor tempor neque. Fusce quis
        mollis sem. Praesent id lectus quis elit tristique lacinia. Vestibulum fermentum sed erat eu elementum. Sed
        efficitur tempor turpis, eu ornare elit commodo vitae. In elementum nulla in sagittis tempus. Aenean consectetur
        tempus egestas. Vestibulum sed tortor ac nunc ultrices elementum nec sit amet quam.
      </p>

      <p>
        Nunc mattis malesuada lacus quis tincidunt. Suspendisse blandit massa felis, sed dictum nunc eleifend vel. Etiam
        egestas metus vel tellus tincidunt vehicula. Fusce viverra, risus ac egestas gravida, magna orci egestas enim,
        at aliquam mauris nunc sit amet tortor. Curabitur sed placerat ex, facilisis suscipit tellus. Curabitur luctus,
        risus vitae congue pharetra, tortor nulla fringilla nisl, a consequat nisl dui in diam. Curabitur eget orci sed
        dolor lobortis volutpat. Nam id nulla sit amet magna euismod convallis. Aenean laoreet rutrum risus, non
        ullamcorper quam gravida vitae. Maecenas viverra ullamcorper ligula et bibendum. Curabitur tempor at ex in
        fringilla. Ut lobortis massa a sapien placerat laoreet.
      </p>

      <p>
        Nam vehicula felis tempor tellus varius dapibus. Integer sed ex augue. Nam quis nunc faucibus, pulvinar odio ut,
        maximus erat. Etiam suscipit aliquam enim, a convallis tortor ultrices in. Donec faucibus tempus ipsum, in
        hendrerit tellus bibendum nec. Sed sit amet laoreet justo, ut volutpat mauris. Vestibulum ante ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse elit lacus, consequat varius mi sed,
        porttitor feugiat ligula. Nam lacus magna, congue quis magna eget, facilisis ultricies augue. Donec nec dapibus
        sem, vitae iaculis tellus.
      </p>

      <p>
        Nulla sagittis ex at pellentesque pulvinar. Sed et diam vitae augue lobortis aliquam ut facilisis massa. Proin
        accumsan tincidunt tellus. Sed placerat orci eget neque vulputate auctor. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nam mattis accumsan justo, non fermentum arcu venenatis
        vel. Mauris id ornare quam. Duis lobortis eu justo nec tempus. Ut ac ipsum bibendum, finibus orci id, aliquam
        nisl.
      </p>
{%- endblock -%}
